name: bitcoin-backtest
services:
- name: web
  github:
    repo: jyothirmai0564/bitcoin-backtest
    branch: main

  run_command: python -m venv venv
               source venv/bin/activate
               pip install -r requirements.txt
               python optimized_backtest.py
               gunicorn --bind 0.0.0.0:8080 bitcoin-backtest.wsgi:application
  build_command: |
    echo "Building application..."
    if [ -f "requirements.txt" ]; then
      python -m venv venv
      source venv/bin/activate
      pip install --upgrade pip
      pip install -r requirements.txt
    fi
  
  http_port: 8080
  environment_slug: python
  instance_count: 1
  instance_size_slug: basic-xxs